In [ ]:
import time
import pandas as pd
import seaborn as sns
import sqlalchemy as sa
import sqlite3
import logging
from df_to_sql.utils import df_to_sql
from df_to_sql.utils import date_regexes

logging.getLogger().setLevel(logging.DEBUG)

In [ ]:
#  Create a Postgres database in a Docker container.
!docker stop postgres
!docker container rm postgres
!docker run -p 5432:5432 --name postgres -e POSTGRES_PASSWORD=PASSWORD -d postgres

#  Create a SQLite database on disk.
if 'sqlite.db' in os.listdir('.'): os.remove('./sqlite.db')
sqlite3.connect('sqlite.db')
time.sleep(5)

In [ ]:
pg_engine = sa.create_engine('postgresql://postgres:PASSWORD@localhost:5432/postgres')

df = sns.load_dataset('penguins')

df_to_sql(df=df, table_name='penguins', schema='public', engine=pg_engine)

pg_engine = sa.create_engine('postgresql://postgres:PASSWORD@localhost:5432/postgres')

df = pd.read_sql_table('penguins', con=pg_engine)

print(df.dtypes)

df

In [ ]:
sl_engine = sa.create_engine('sqlite:///sqlite.db')

df = sns.load_dataset('penguins')

df_to_sql(df=df, table_name='penguins', schema='main', engine=sl_engine)

sl_engine = sa.create_engine('sqlite:///sqlite.db')

df = pd.read_sql_table('penguins', con=sl_engine)

print(df.dtypes)

df

In [ ]:
import df_to_sql.utils as dts

if 'sqlite.db' in os.listdir('.'): os.remove('./sqlite.db')

sqlite3.connect('sqlite.db')

sl_engine = sa.create_engine('sqlite:///sqlite.db')

for _ in range(0, 10):

    df = pd.util.testing.makeMixedDataFrame()

    dts.df_to_sql(df=df, table_name='table_name', schema='main', engine=sl_engine)

sl_engine = sa.create_engine('sqlite:///sqlite.db')

df = pd.read_sql_table('table_name', con=sl_engine)

print(df.dtypes)

print(df.shape)

In [ ]:
sl_engine = sa.create_engine('sqlite:///sqlite.db')

df = pd.read_sql_table('table_name', con=sl_engine)

df

In [2]:
date_regexes = dts.date_regexes

date_regexes

['^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}([+-]\\d{2}:\\d{2}|Z)?$',
 '^[0-9]{4}-[0-9]{2}-[0-9]{2}$']

In [3]:
ds = pd.Series(['2009-01-01', '2009-01-02', '2009-01-05', '2009-01-06', '2009-01-07'])

any([ds.str.match(regex).all() for regex in date_regexes])

True

In [ ]:
date_regexes